<div class="top-menu">
    <div>
        <button mat-stroked-button color="primary" (click)="addWebsiteRecord()">Add</button>
        <button mat-stroked-button color="primary" (click)="refresh()">Refresh</button>
    </div>
    <div>
        <button mat-stroked-button color="primary" (click)="openSortDialog()">Sort</button>
        <button mat-stroked-button color="primary" (click)="openFilterDialog()">Filter</button>
    </div>
</div>
<div class="website-records">
    <app-website-record-card
        *ngFor="let websiteRecord of websiteRecords"
        [websiteRecord]="websiteRecord"
        [allTags]="filterData.allTags"
        (deleteRecordEvent)="onRecordDelete()"
        (updatedRecordEvent)="onRecordUpdate()"
        (updatedTagsEvent)="onTagsUpdate($event)"
        (visualizeChangeEvent)="onVisualizeChangeEvent($event)"
        [visualized]="activeVisualizationSelection.has(websiteRecord.id)"
    ></app-website-record-card>
</div>
<mat-paginator
    #paginator
    class="paginator"
    (page)="handlePageEvent($event)"
    [length]="pagination.length"
    [pageSize]="this.pageSize"
    [disabled]="false"
    [pageIndex]="this.pageIndex"
    aria-label="Select page"
>
</mat-paginator>

<app-website-graph [websiteRecords]="activeSelection" (graphDetailEvent)="onGraphNodeDetailEvent($event)"></app-website-graph>
