.website-records {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 300px; */
    gap: 20px;
    /* background-color: aqua; */
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex: 1 1 300px; */
}

.paginator {
    /* margin: auto; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.top-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.top-menu > :nth-child(1) {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    justify-self: start;
}

.top-menu > :nth-child(2) {
    display: grid;
    justify-self: end;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.top-menu button {
    padding: 20px;
}
