.website-records {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 300px; */
    gap: 20px;
    /* background-color: aqua; */
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex: 1 1 300px; */
}

.paginator {
    /* margin: auto; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
