header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    /* background-color: aquamarine; */
    /* background-color: aqua; */
}
mat-divider {
    /* width: 1000px;
    margin: auto; */
}

header nav {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-self: end;
}

header > div > div {
    justify-self: start;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-items: start;
}

header h1 {
    /* background: grey; */
    font-size: 2em;
    padding: 10px;
    /* border-radius: 6px; */
    /* text-decoration: none; */
    margin: 0;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05); */
    /* justify-self: start; */
}

header nav a {
    /* background: red; */
    /* color: #333;
    background: lightgrey; */

    padding: 10px;
    /* text-decoration: none; */
    /* border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05); */
}

@media screen and (max-width: 620px) {
    header div {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    header > div > div {
    }
    header nav {
        grid-template-columns: 1fr;
        gap: 10px;
        justify-self: center;
    }
    header nav a {
        width: 100%;
    }
}
