<header>
    <div>
        <div>
            <img src="../../assets/img/icons8-web-crawler-64.png" alt="web crawl link" />
            <h1>WEB CRAWLER</h1>
        </div>
        <nav>
            <a
                routerLink="/{{ routePaths.WEBSITE_RECORDS_PAGE_COMPONENT_PATH }}"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                mat-raised-button
                color="primary"
                >Website Records</a
            >
            <a
                routerLink="/{{ routePaths.EXECUTIONS_PAGE_COMPONENT_PATH }}"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                mat-raised-button
                color="primary"
                >Executions</a
            >
        </nav>
    </div>
    <mat-divider></mat-divider>
</header>
