<mat-card class="card" *ngIf="websiteRecord">
    <mat-card-header>
        <mat-card-title>{{ websiteRecord.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3 class="url">{{ websiteRecord.url }}</h3>
        <mat-divider></mat-divider>
        <h3>Boundary RegExp: {{ websiteRecord.boundaryRegExp }}</h3>
        <h3>Periodicity: {{ fromNumber(websiteRecord.periodicity) }}</h3>
        <h3>Status: {{ websiteRecord.active ? 'Active' : 'Inactive' }}</h3>
        <mat-divider></mat-divider>
        <h3>Last Execution:</h3>
        <div class="last-execution" *ngIf="websiteRecord.lastExecution">
            <div>Start: {{ websiteRecord.lastExecution.start }}</div>
            <div *ngIf="websiteRecord.lastExecution.status !== 'running'"></div>
            <div>End: {{ websiteRecord.lastExecution.status !== 'running' ? websiteRecord.lastExecution.end : 'Not finished yet.' }}</div>
            <div>Status: {{ websiteRecord.lastExecution.status | uppercase }}</div>
        </div>
        <div class="last-execution" *ngIf="!websiteRecord.lastExecution">
            <div>No execution ran.</div>
        </div>
        <mat-divider></mat-divider>
        <h3>Tags:</h3>
        <div class="tags">
            <div class="tag" *ngFor="let tag of websiteRecord.tags; let last = last">
                <span>'{{ tag }}'</span>
                <span *ngIf="!last">, &nbsp;</span>
            </div>
        </div>
        <mat-card-actions>
            <button class="action" mat-raised-button color="primary" (click)="onEdit(websiteRecord)">Edit</button>
            <button class="action" mat-raised-button color="primary" (click)="onDelete()">Delete</button>
            <button
                class="action"
                mat-raised-button
                color="primary"
                routerLink="/{{ routePaths.WEBSITE_RECORD_DETAIL_COMPONENT_PATH }}/{{ websiteRecord.id }}"
            >
                Detail
            </button>
        </mat-card-actions>
    </mat-card-content>
    <!-- Label, Periodicity, Tags, time of last execution, the status of last execution -->
</mat-card>
