.website-records .card {
    flex-grow: 1;
}

.website-records li {
    list-style-type: none;
    background-color: #eee;
}

.regexp {
    overflow: hidden;
    white-space: nowrap;
}

.action {
    /* margin: auto; */

    /* width: inherit; */
    /* flex-grow: 1; */
    flex: 1 0 0px;
}

mat-card-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-items: flex-end; */
    align-items: end;
    gap: 10px;
    margin: auto;
}

.long-action {
    grid-column: span 3;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    text-decoration: none;
    margin: 0;
}

.last-execution {
    height: 62px;
}
